/* VARIABLES */
:root {
    --h1: Roboto Slab,ff-tisa-web-pro,Georgia,Arial,sans-serif;
}

/* BODY */
body {
    display: grid;
    grid-template-columns: 300px 75ch auto;
}

/* MENU */
#menu {
    background-color: hsl(0, 0%, 30%);
    border-right: 2px solid black;
}

/* CONTENT */
#content {
    padding: 10px;
    padding-left: 50px;
}

/* SPACE */
#space {
    background-color: hsl(0, 0%, 85%);
}

/* HEADING 1 */
h2 {
    font-family: var(--h1);
}